{% extends 'base.html' %}
{% block content %}
  <section class="grid">
    <a class="dashboard-button"
       href="{% url 'checkin-create' %}"
       role="button">Check In ✅</a>
    <a class="dashboard-button"
       href="{% url 'medicationlog-create' %}"
       role="button">Log Medication 💊</a>
    <a class="dashboard-button"
       href="{% url 'activitylog-create' %}"
       role="button">Log Activity 🏃‍♂️</a>
    <a class="dashboard-button secondary"
       href="{% url 'checkin-list' %}"
       role="button">Check-Ins 📊</a>
    <a class="dashboard-button secondary"
       href="{% url 'medicationlog-list' %}"
       role="button">Medication Logs 💊</a>
    <a class="dashboard-button secondary"
       href="{% url 'activitylog-list' %}"
       role="button">Activity Logs 🏃‍♂️</a>
    {% if request.user.is_superuser %}
      <a class="dashboard-button contrast" href="{% url 'admin:index' %}" role="button">Admin 🛠️</a>
    {% endif %}
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button class="dashboard-button contrast" type="submit">Logout 🚪</button>
    </form>
  </section>
{% endblock %}
