{% extends 'base.html' %}
{% block content %}
  {% if dose_message %}<div class="alert">{{ dose_message }}</div>{% endif %}
  <section class="grid">
    <a class="dashboard-button"
       href="{% url 'checkin-list' %}"
       role="button">Check-Ins 📊</a>
    <a class="dashboard-button"
       href="{% url 'medicationlog-list' %}"
       role="button">Medication 💊</a>
    <a class="dashboard-button"
       href="{% url 'activitylog-list' %}"
       role="button">Activities 🏃‍♂️</a>
    <a class="dashboard-button"
       href="{% url 'tappingtest-list' %}"
       role="button">Tapping 🖐️</a>
    <a class="dashboard-button"
       href="{% url 'typingtest-list' %}"
       role="button">Typing ⌨️</a>
    <a class="dashboard-button secondary"
       href="{% url 'reports' %}"
       role="button">View Reports 📈</a>
    {% if request.user.is_superuser %}
      <a class="dashboard-button secondary"
         href="{% url 'admin:index' %}"
         role="button">Admin 🛠️</a>
    {% endif %}
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button class="dashboard-button secondary" type="submit">Logout 🚪</button>
    </form>
  </section>
{% endblock %}
