{% extends 'base.html' %}
{% load tracker_tags %}
{% block content %}
  <article>
    <header>
      <h3>Recent Check-Ins</h3>
      <a href="{% url 'checkin-create' %}" role="button">New Check-In</a>
    </header>
    <table class="table">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Time Since Last Dose</th>
          <th>Overall Severity</th>
          <th>Pain</th>
          <th>Fatigue</th>
          <th>Rigidity</th>
          <th>Bradykinesia</th>
          <th>Tremor</th>
          <th>Hand Dysfunction</th>
        </tr>
      </thead>
      <tbody>
        {% for checkin in object_list %}
          <tr>
            <td>{{ checkin.timestamp }}</td>
            <td>{{ checkin.time_since_dose|duration }}</td>
            <td>{{ checkin.overall_severity_display }} ({{ checkin.overall_severity|floatformat:1 }})</td>
            <td>{{ checkin.get_pain_display }}</td>
            <td>{{ checkin.get_fatigue_display }}</td>
            <td>{{ checkin.get_rigidity_display }}</td>
            <td>{{ checkin.get_bradykinesia_display }}</td>
            <td>{{ checkin.get_tremor_display }}</td>
            <td>{{ checkin.get_hand_dysfunction_display }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="9">No check-ins found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </article>
{% endblock %}
