{% extends 'base.html' %}
{% load tracker_tags %}
{% block content %}
  <article>
    <header>
      <h3>Recent Check-Ins</h3>
      <a href="{% url 'checkin-create' %}"
         role="button"
         aria-label="New Check-In"
         class="add-link">Add +</a>
    </header>
    <table class="table">
      <thead>
        <tr>
          {% include 'partials/_orderable.html' with field_name='timestamp' display_name='Timestamp' %}
          {% include 'partials/_orderable.html' with field_name='time_since_dose' display_name='Time Since Last Dose' %}
          {% include 'partials/_orderable.html' with field_name='overall_severity' display_name='Overall Severity' %}
          {% include 'partials/_orderable.html' with field_name='pain' display_name='Pain' %}
          {% include 'partials/_orderable.html' with field_name='fatigue' display_name='Fatigue' %}
          {% include 'partials/_orderable.html' with field_name='rigidity' display_name='Rigidity' %}
          {% include 'partials/_orderable.html' with field_name='bradykinesia' display_name='Bradykinesia' %}
          {% include 'partials/_orderable.html' with field_name='hand_dysfunction' display_name='Hand Dysfunction' %}
        </tr>
      </thead>
      <tbody>
        {% for checkin in object_list %}
          <tr>
            <td>{{ checkin.timestamp }}</td>
            <td>{{ checkin.time_since_dose|duration }}</td>
            <td>{{ checkin.overall_severity_display }} ({{ checkin.overall_severity|floatformat:1 }})</td>
            <td>{{ checkin.get_pain_display }}</td>
            <td>{{ checkin.get_fatigue_display }}</td>
            <td>{{ checkin.get_rigidity_display }}</td>
            <td>{{ checkin.get_bradykinesia_display }}</td>
            <td>{{ checkin.get_hand_dysfunction_display }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="8">No check-ins found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <footer>
      {% include 'partials/_pagination.html' %}
    </footer>
  </article>
{% endblock %}
