{% extends "base.html" %}
{% load static %}
{% block extra_head %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  {{ data|json_script:"health-metric-data" }}
  {{ title|json_script:"health-metric-title" }}
  <script src="{% static 'js/health-metrics.js' %}"></script>
{% endblock %}
{% block content %}
  <form>
    {{ form }}
  </form>
  <article>
    <header>
      <h2>{{ title }} Metrics</h2>
    </header>
    <canvas id="health-metric-chart"></canvas>
  </article>
{% endblock %}
