{% extends 'base.html' %}
{% block content %}
  <article>
    <header>
      <h2>Medication Logs</h2>
      <a href="{% url 'medicationlog-create' %}"
         role="button"
         aria-label="New Medication Log"
         class="add-link">Add +</a>
    </header>
    <table class="table">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Medication Name</th>
          <th>Dosage</th>
        </tr>
      </thead>
      <tbody>
        {% for log in object_list %}
          <tr>
            <td>{{ log.timestamp }}</td>
            <td>{{ log.medication.name }}</td>
            <td>{{ log.medication.dose }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">No medication logs found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </article>
{% endblock %}
