{% extends 'base.html' %}
{% load tracker_tags %}
{% block content %}
  <article>
    <header>
      <h2>Tapping Tests</h2>
      <a href="{% url 'tappingtest-create' %}"
         role="button"
         aria-label="New Tapping Test"
         class="add-link">Add +</a>
    </header>
    <table class="table">
      <thead>
        <tr>
          {% include 'partials/_orderable.html' with field_name='timestamp' display_name='Timestamp' %}
          {% include 'partials/_orderable.html' with field_name='time_since_dose' display_name='Time Since Last Dose' %}
          {% include 'partials/_orderable.html' with field_name='taps' display_name='Taps/Second' %}
        </tr>
      </thead>
      <tbody>
        {% for tapping_test in object_list %}
          <tr>
            <td>{{ tapping_test.timestamp }}</td>
            <td>{{ tapping_test.time_since_dose|duration }}</td>
            <td>{{ tapping_test.taps_per_second }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">No tapping tests found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <footer>
      {% include 'partials/_pagination.html' %}
    </footer>
  </article>
{% endblock %}
