{% extends 'base.html' %}
{% load tracker_tags %}
{% block content %}
  <article>
    <header>
      <h2>Typing Tests</h2>
      <a href="{% url 'typingtest-create' %}"
         role="button"
         aria-label="New Typing Test"
         class="add-link">Add +</a>
    </header>
    <table class="table">
      <thead>
        <tr>
          {% include 'partials/_orderable.html' with field_name='timestamp' display_name='Timestamp' %}
          {% include 'partials/_orderable.html' with field_name='time_since_dose' display_name='Time Since Last Dose' %}
          {% include 'partials/_orderable.html' with field_name='wpm' display_name='WPM' %}
          {% include 'partials/_orderable.html' with field_name='accuracy' display_name='Accuracy' %}
        </tr>
      </thead>
      <tbody>
        {% for typing_test in object_list %}
          <tr>
            <td>{{ typing_test.timestamp }}</td>
            <td>{{ typing_test.time_since_dose|duration }}</td>
            <td>{{ typing_test.wpm }}</td>
            <td>{{ typing_test.accuracy }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4">No typing tests found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </article>
{% endblock %}
