{% extends 'base.html' %}
{% block content %}
  <article>
    <header>
      <h3>Recent Workouts</h3>
    </header>
    <table class="table">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Activity Type</th>
          <th>Duration</th>
          <th>Average Heart Rate</th>
        </tr>
      </thead>
      <tbody>
        {% for workout in object_list %}
          <tr>
            <td>
              <a href="{% url 'workout-detail' workout.pk %}">{{ workout.timestamp }}</a>
            </td>
            <td>{{ workout.activity_type_display }}</td>
            <td>{{ workout.duration }}</td>
            <td>{{ workout.heart_rate.average|floatformat:0 }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4">No workouts found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </article>
{% endblock %}
