{% extends 'base.html' %}
{% load tracker_tags static %}
{% block extra_head %}
  <script src="{% static 'js/workout-list.js' %}"></script>
{% endblock %}
{% block content %}
  <article>
    <header>
      <h3>Recent Workouts</h3>
      <a href="{% url 'healthmetric-import' %}" role="button">Import</a>
    </header>
    <form id="filter-form">
      {{ filter_form }}
    </form>
    <table class="table">
      <thead>
        <tr>
          {% include 'partials/_orderable.html' with field_name='timestamp' display_name='Timestamp' %}
          {% include 'partials/_orderable.html' with field_name='time_since_dose' display_name='Time Since Last Dose' %}
          {% include 'partials/_orderable.html' with field_name='activity_type' display_name='Activity Type' %}
          {% include 'partials/_orderable.html' with field_name='duration' display_name='Duration' %}
          {% include 'partials/_orderable.html' with field_name='average_heart_rate' display_name='Average Heart Rate' %}
        </tr>
      </thead>
      <tbody>
        {% for workout in object_list %}
          <tr>
            <td>
              <a href="{% url 'workout-detail' workout.pk %}">{{ workout.timestamp }}</a>
            </td>
            <td>{{ workout.time_since_dose|duration }}</td>
            <td>{{ workout.activity_type_display }}</td>
            <td>{{ workout.duration }}</td>
            <td>{{ workout.heart_rate.average|floatformat:0 }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5">No workouts found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <footer>
      {% include 'partials/_pagination.html' %}
    </footer>
  </article>
{% endblock %}
