a[role=button] {
  height: min-content;
  width: 100%;
}

.dashboard-button {
  aspect-ratio: 1/1 !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.logo {
  text-decoration: none;
}

.grid {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#tapping-test {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

#tap-button {
  aspect-ratio: 1/1 !important;
  font-size: xxx-large;
  border-radius: 50%;
}
