a[role='button'] {
  height: min-content;
  width: 100%;
}

article {
  overflow-x: auto;
}

main > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

article > header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1rem;
}

.logo {
  text-decoration: none;
}

.dashboard-button {
  aspect-ratio: 1/1 !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.grid {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

#tapping-test {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

#tap-button {
  aspect-ratio: 1/1 !important;
  font-size: xxx-large;
  border-radius: 50%;
  touch-action: manipulation;
}

.prompt-char {
  font-size: xx-large;
  font-weight: bold;
}

.prompt-char.correct {
  color: green;
}

.prompt-char.incorrect {
  color: red;
}

.prompt-char.current {
  border-bottom: 2px solid var(--pico-primary-border);
}

#test-results {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}

.alert {
  border: 1px solid var(--pico-primary);
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.toastify {
  background: var(--pico-primary-background) !important;
  box-shadow: var(--pico-box-shadow) !important;
}
